/smartZ/audio.mp3
/smartZ/input.wav
/smartZ/ichat.pkl
/smartZ/QR.png
/smartZ/setting.init
/smartZ/Smart.spec
/smartZ/wechat_post.txt
/smartZ/wechat_order.txt
/smartZN/images
/smartZN/.idea
/smartZN/__pycache__
/smartZ/venv
