/smartZN/audio.mp3
/smartZN/input.wav
/smartZN/ichat.pkl
/smartZN/QR.png
/smartZN/setting.ini
/smartZN/Smart.spec
/smartZN/wechat_post.txt
/smartZN/wechat_order.txt
/smartZN/images
/smartZN/.idea
/smartZN/__pycache__
/smartZ/venv
